<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policy</title>
</head>
<body>
    <p style="text-align: center;"><span style="font-family:Calibri,sans-serif;">КОНФ</span></p>


<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</span></span></p>

<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">ГЛАВНАЯ&nbsp; ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</span></span></p>

<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">1. ОБЩИЕ ПОЛОЖЕНИЯ</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">1.1. НАСТОЯЩЕЕ ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ (ДАЛЕЕ &ndash; СОГЛАШЕНИЕ) ЯВЛЯЕТСЯ СОГЛАШЕНИЕМ МЕЖДУ ПОСЕТИТЕЛЕМ, ПОЛЬЗОВАТЕЛЕМ И КОМПАНИЕЙ, ПРЕДМЕТОМ КОТОРОГО ЯВЛЯЕТСЯ ПРЕДОСТАВЛЕНИЕ КОМПАНИЕЙ ПОСЕТИТЕЛЮ, ПОЛЬЗОВАТЕЛЮ ДОСТУПА К ОЗНАКОМЛЕНИЮ С МОБИЛЬНОМ ПРИЛОЖЕНИИ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">1.2. ПОСЕТИТЕЛЬ И ПОЛЬЗОВАТЕЛЬ ОБЯЗАНЫ ПОЛНОСТЬЮ ОЗНАКОМИТЬСЯ С НАСТОЯЩИМ СОГЛАШЕНИЕМ ДО МОМЕНТА ИСПОЛЬЗОВАНИЯ ФУНКЦИОНАЛА МОБИЛЬНОГО ПРИЛОЖЕНИЕ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">1.3. В СЛУЧАЕ НЕСОГЛАСИЯ С ПЕРЕЧИСЛЕННЫМИ УСЛОВИЯМИ ПОСЕТИТЕЛЬ И ПОЛЬЗОВАТЕЛЬ ДОЛЖНЫ ВОЗДЕРЖАТЬСЯ ОТ ДАЛЬНЕЙШЕГО ИСПОЛЬЗОВАНИЯ МОБИЛЬНОГО ПРИЛОЖЕНИЕ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">1.4. НАСТОЯЩЕЕ СОГЛАШЕНИЕ ДЕЙСТВУЕТ ТОЛЬКО НА ТЕРРИТОРИИ РЕСПУБЛИКИ КАЗАХСТАН (РК).</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">1.5. ОТНОШЕНИЯ ПОСЕТИТЕЛЯ, ПОЛЬЗОВАТЕЛЯ ПО ПОДГОТОВКЕ К ЕНТ ДИСТАНЦИОННЫМ СПОСОБОМ, УКАЗАННОЙ НА МОБИЛЬНОМ ПРИЛОЖЕНИЕ.</span></span></p>



<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2.1. В НАСТОЯЩЕМ ПОЛЬЗОВАТЕЛЬСКОМ СОГЛАШЕНИИ, ЕСЛИ ИЗ КОНТЕКСТА НЕ СЛЕДУЕТ ИНОЕ, НИЖЕПРИВЕДЕННЫЕ ТЕРМИНЫ С ЗАГЛАВНОЙ БУКВЫ ИМЕЮТ СЛЕДУЮЩИЕ ЗНАЧЕНИЯ:</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2.1.1. &laquo;КОМПАНИЯ&raquo; &ndash;&nbsp; &laquo;BILIM ACADEMIC SCHOOL&raquo;.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2.1.2. &laquo;ПЕРСОНАЛЬНЫЕ ДАННЫЕ&raquo; &ndash; ПЕРСОНАЛЬНЫЕ ДАННЫЕ, КОТОРЫЕ ПОЛЬЗОВАТЕЛЬ ПРЕДОСТАВЛЯЕТ О СЕБЕ (ИМЯ (В ТОМ ЧИСЛЕ ПСЕВДОНИМ); ДЕНЬ РОЖДЕНИЯ; АДРЕС ДОСТАВКИ; НОМЕР ТЕЛЕФОНА; АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ). НЕ МОГУТ БЫТЬ ОТНЕСЕНЫ К ПЕРСОНАЛЬНЫМ ДАННЫМ ПОЛЬЗОВАТЕЛЯ ТАКИЕ ДАННЫЕ, КАК: НОМЕР ТЕЛЕФОНА И АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ, ЕСЛИ ОБРАБОТКА ЭТИХ ДАННЫХ ОСУЩЕСТВЛЯЕТСЯ ОБЕЗЛИЧЕННО, ТО ЕСТЬ БЕЗ ПРИВЯЗКИ К ПЕРСОНАЛЬНЫМ ДАННЫМ КОНКРЕТНОГО ПОЛЬЗОВАТЕЛЯ. ДАННЫЕ, КОТОРЫЕ АВТОМАТИЧЕСКИ ПЕРЕДАЮТСЯ В ПРОЦЕССЕ ИХ ИСПОЛЬЗОВАНИЯ С ПОМОЩЬЮ УСТАНОВЛЕННОГО НА УСТРОЙСТВЕ ПОЛЬЗОВАТЕЛЯ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ, В ТОМ ЧИСЛЕ IP-АДРЕС, ИНФОРМАЦИЯ ИЗ COOKIE, ИНФОРМАЦИЯ О БРАУЗЕРЕ ПОЛЬЗОВАТЕЛЯ (ИЛИ ИНОЙ ПРОГРАММЕ, С ПОМОЩЬЮ КОТОРОЙ ОСУЩЕСТВЛЯЕТСЯ ДОСТУП К САЙТУ), ВРЕМЯ ДОСТУПА, АДРЕС ЗАПРАШИВАЕМОЙ СТРАНИЦЫ НЕ ЯВЛЯЮТСЯ ПЕРСОНАЛЬНЫМИ ДАННЫМИ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2.1.3. &laquo;ПОСЕТИТЕЛЬ&raquo; &ndash; ЛЮБОЕ ДЕЕСПОСОБНОЕ ЛИЦО, ЖЕЛАЮЩЕЕ ОЗНАКОМИТЬСЯ С СОДЕРЖАНИЕМ САЙТА.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2.1.4. &laquo;ПОЛЬЗОВАТЕЛЬ&raquo; &ndash; ПОСЕТИТЕЛЬ, КОТОРЫЙ УЖЕ ИМЕЕТ ЛИЧНУЮ УЧЕТНУЮ ЗАПИСЬ.</span></span></p>



<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2.1.5. &laquo;САЙТ&raquo; &ndash;&nbsp; HTTP://BILIMCENTRE.KZ, А ТАКЖЕ МОБИЛЬНОЕ ПРИЛОЖЕНИЕ BILIMCENTRE (ВНЕ ЗАВИСИМОСТИ ОТ ПЛАТФОРМЫ).</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2.2. ДЛЯ ЦЕЛЕЙ НАСТОЯЩЕГО СОГЛАШЕНИЯ ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ В ЕДИНСТВЕННОМ ЧИСЛЕ ОТНОСЯТСЯ ТАКЖЕ И К ТЕРМИНАМ И ОПРЕДЕЛЕНИЯМ ВО МНОЖЕСТВЕННОМ ЧИСЛЕ И НАОБОРОТ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">2.3. УСЛОВИЯ НАСТОЯЩЕГО СОГЛАШЕНИЯ ДЛЯ САЙТА ДЕЙСТВУЮТ И ДЛЯ МОБИЛЬНОГО ПРИЛОЖЕНИЯ (ВНЕ ЗАВИСИМОСТИ ОТ ПЛАТФОРМЫ).</span></span></p>



<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">3. ПРЕДМЕТ СОГЛАШЕНИЯ</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">3.1. ПРЕДМЕТОМ НАСТОЯЩЕГО СОГЛАШЕНИЯ ЯВЛЯЮТСЯ ПОРЯДОК И ПРАВИЛА ИСПОЛЬЗОВАНИЯ ФУНКЦИОНАЛА (СЕРВИСОВ) САЙТА; УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ, УСТАНОВЛЕННЫЕ КОМПАНИЕЙ ДЛЯ ПОСЕТИТЕЛЕЙ И ПОЛЬЗОВАТЕЛЕЙ САЙТА.</span></span></p>



<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4. РЕГИСТРАЦИЯ</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.1. ДЛЯ РЕГИСТРАЦИИ УЧЕТНОЙ ЗАПИСИ НА САЙТЕ ПОЛЬЗОВАТЕЛЮ СЛЕДУЕТ ПРОИЗВЕСТИ СЛЕДУЮЩИЕ ДЕЙСТВИЯ:</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.1.1. ВВЕСТИ НОМЕР ТЕЛЕФОНА В ФОРМАТЕ (+7ХХХХХХХХХХ); УКАЗАННЫЙ ПОЛЬЗОВАТЕЛЕМ ПРИ РЕГИСТРАЦИИ НОМЕР ТЕЛЕФОНА БУДЕТ ИСПОЛЬЗОВАТЬСЯ В КАЧЕСТВЕ ЛОГИНА УЧЕТНОЙ ЗАПИСИ;</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.1.2. ВВЕСТИ ПАРОЛЬ, ПРЕДОСТАВЛЯЕМЫЙ ПОЛЬЗОВАТЕЛЮ В ВИДЕ SMS&ndash;СООБЩЕНИЯ НА УКАЗАННЫЙ ИМ НОМЕР ТЕЛЕФОНА;</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.1.4. ПО ЖЕЛАНИЮ ПРЕДОСТАВИТЬ КОМПАНИИ АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ, ДЕНЬ РОЖДЕНИЯ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.2. РЕГИСТРАЦИЯ БУДЕТ СЧИТАТЬСЯ ЗАВЕРШЕННОЙ ПОСЛЕ КОРРЕКТНОГО ВВОДА ПОЛЬЗОВАТЕЛЕМ ПАРОЛЯ, ПОЛУЧЕННОГО ИМ В SMS&ndash;СООБЩЕНИИ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.3. ПОЛЬЗОВАТЕЛЮ ЗАПРЕЩАЕТСЯ ПЕРЕДАВАТЬ ДАННЫЕ СВОЕЙ УЧЕТНОЙ ЗАПИСИ ТРЕТЬИМ ЛИЦАМ. В СЛУЧАЕ ПЕРЕДАЧИ ПОЛЬЗОВАТЕЛЕМ СВОЕГО ЛОГИНА И(ИЛИ) ПАРОЛЯ ТРЕТЬЕМУ ЛИЦУ, ПОЛЬЗОВАТЕЛЬ НЕСЕТ ОТВЕТСТВЕННОСТЬ ЗА НЕСАНКЦИОНИРОВАННЫЕ ДЕЙСТВИЯ ТРЕТЬЕГО ЛИЦА, КАК ЗА СВОИ СОБСТВЕННЫЕ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.4. ПОЛЬЗОВАТЕЛЬ НЕСЕТ ОТВЕТСТВЕННОСТЬ ЗА ТОЧНОСТЬ И ПРАВИЛЬНОСТЬ, ПОЛНОТУ И ДОСТОВЕРНОСТЬ УКАЗАНИЯ СВОИХ ЛИЧНЫХ ДАННЫХ ПРИ РЕГИСТРАЦИИ УЧЕТНОЙ ЗАПИСИ НА САЙТЕ И ЗА ПОСЛЕДСТВИЯ, КОТОРЫЕ МОГУТ ВОЗНИКНУТЬ У ПОЛЬЗОВАТЕЛЯ, В СЛУЧАЕ НЕКОРРЕКТНОГО ВВОДА УКАЗАННЫХ СВЕДЕНИЙ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.5. ПОЛЬЗОВАТЕЛЬ ОБЯЗАН НЕЗАМЕДЛИТЕЛЬНО УВЕДОМИТЬ КОМПАНИЮ О ЛЮБОМ СЛУЧАЕ НЕСАНКЦИОНИРОВАННОГО ДОСТУПА К УЧЕТНОЙ ЗАПИСИ ПОЛЬЗОВАТЕЛЯ, А ТАКЖЕ О ЛЮБОМ СЛУЧАЕ НАРУШЕНИЯ БЕЗОПАСНОСТИ СВОЕГО ЛОГИНА И ПАРОЛЯ (УТЕРЯ, ПЕРЕДАЧА ДАННЫХ ТРЕТЬИМ ЛИЦАМ, ДРУГОЕ).</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.6. ЛЮБЫЕ ДЕЙСТВИЯ, СОВЕРШЕННЫЕ НА САЙТЕ С ИСПОЛЬЗОВАНИЕМ ЛОГИНА И ПАРОЛЯ ПОЛЬЗОВАТЕЛЯ, СЧИТАЮТСЯ СОВЕРШЕННЫМИ СООТВЕТСТВУЮЩИМ ПОЛЬЗОВАТЕЛЕМ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.7. ПОЛЬЗОВАТЕЛЬ НЕСЕТ ОТВЕТСТВЕННОСТЬ ЗА ЛЮБУЮ ИНФОРМАЦИЮ, КОТОРАЯ РАЗМЕЩАЕТСЯ НА САЙТЕ ПОСРЕДСТВОМ ЕГО УЧЕТНОЙ ЗАПИСИ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">4.8. КОМПАНИЯ ВПРАВЕ УДАЛИТЬ УЧЕТНУЮ ЗАПИСЬ ПОЛЬЗОВАТЕЛЯ В СЛУЧАЕ НАРУШЕНИЯ ПОСЛЕДНИМ ПОЛОЖЕНИЙ СОГЛАШЕНИЯ.</span></span></p>



<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">5. УСЛОВИЯ ИСПОЛЬЗОВАНИЯ ИНФОРМАЦИИ, РАЗМЕЩЕННОЙ НА САЙТЕ</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">5.1. САЙТ ВКЛЮЧАЕТ, НО НЕ ОГРАНИЧИВАЕТСЯ, СЛЕДУЮЩИМ: ТЕКСТЫ, ФОТОГРАФИИ, ГРАФИЧЕСКИЕ ИЗОБРАЖЕНИЯ, ТОВАРНЫЕ ЗНАКИ И ИНЫЕ, ОХРАНЯЕМЫЕ ЗАКОНОМ, МАТЕРИАЛЫ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">5.2. ПОСЕТИТЕЛЬ И/ИЛИ ПОЛЬЗОВАТЕЛЬ ОБЯЗУЮТСЯ ИСПОЛЬЗОВАТЬ САЙТ ТОЛЬКО В ЗАКОННЫХ ЦЕЛЯХ И СПОСОБАМИ, НЕ НАРУШАЮЩИМ ПРАВА ТРЕТЬИХ ЛИЦ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">5.3. КОМПАНИЯ НЕ НЕСЕТ ОТВЕТСТВЕННОСТЬ ЗА ВРЕД, ПРИЧИНЕННЫЙ ТЕХНИКЕ ПОСЕТИТЕЛЯ И/ИЛИ ПОЛЬЗОВАТЕЛЯ В СЛУЧАЕ, ЕСЛИ ЭТО ПРОИЗОШЛО В РЕЗУЛЬТАТЕ ПЕРЕХОДА ПО ГИПЕРТЕКСТУАЛЬНЫМ ССЫЛКАМ, РАЗМЕЩЕННЫМ НА САЙТЕ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">5.4. КОМПАНИЯ ВПРАВЕ ПРОИЗВЕСТИ ПРИОСТАНОВЛЕНИЕ ОКАЗАНИЯ УСЛУГ ПОЛЬЗОВАНИЯ САЙТОМ, ЛИБО ОТКАЗАТЬ ПОЛЬЗОВАТЕЛЮ В ВОЗМОЖНОСТИ ИСПОЛЬЗОВАНИЯ ОТДЕЛЬНЫХ РЕСУРСОВ САЙТА В СЛУЧАЕ НАРУШЕНИЯ ПОСЛЕДНИМ ПОЛОЖЕНИЙ СОГЛАШЕНИЯ.</span></span></p>



<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">6. ПОЛНОМОЧИЯ КОМПАНИИ</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">6.1. КОМПАНИЯ ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО БЕЗ КАКОГО-ЛИБО СПЕЦИАЛЬНОГО УВЕДОМЛЕНИЯ ВНОСИТЬ ИЗМЕНЕНИЯ В НАСТОЯЩЕЕ CОГЛАШЕНИЕ, В СВЯЗИ С ЧЕМ ПОСЕТИТЕЛЬ И/ИЛИ ПОЛЬЗОВАТЕЛЬ ОБЯЗУЕТСЯ САМОСТОЯТЕЛЬНО КОНТРОЛИРОВАТЬ НАЛИЧИЕ ИЗМЕНЕНИЙ В НАСТОЯЩЕМ СОГЛАШЕНИИ. НОВАЯ РЕДАКЦИЯ CОГЛАШЕНИЯ ВСТУПАЕТ В СИЛУ С МОМЕНТА ЕЕ РАЗМЕЩЕНИЯ, ЕСЛИ ИНОЕ НЕ ПРЕДУСМОТРЕНО НОВОЙ РЕДАКЦИЕЙ СОГЛАШЕНИЯ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">6.2. КОМПАНИЯ ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО ИЗМЕНЯТЬ САЙТ, В ТОМ ЧИСЛЕ ИЗМЕНЯТЬ ИЛИ ДОБАВЛЯТЬ В ЕГО СТРУКТУРУ РАЗДЕЛЫ, МЕНЯТЬ ДИЗАЙН И СОВЕРШАТЬ ПРОЧИЕ ДЕЙСТВИЯ, НАПРАВЛЕННЫЕ НА ПОВЫШЕНИЕ ФУНКЦИОНАЛЬНОСТИ САЙТА.</span></span></p>



<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7. УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.1. КОМПАНИЯ НЕ ПРОВЕРЯЕТ ДОСТОВЕРНОСТЬ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ, ПРЕДОСТАВЛЯЕМОЙ ПОЛЬЗОВАТЕЛЯМИ. ОДНАКО КОМПАНИЯ ИСХОДИТ ИЗ ТОГО, ЧТО ПОЛЬЗОВАТЕЛЬ ПРЕДОСТАВЛЯЕТ ДОСТОВЕРНУЮ И ДОСТАТОЧНУЮ ПЕРСОНАЛЬНУЮ ИНФОРМАЦИЮ, И ПОДДЕРЖИВАЕТ ЭТУ ИНФОРМАЦИЮ В АКТУАЛЬНОМ СОСТОЯНИИ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.2. ПОД ОБРАБОТКОЙ ПЕРСОНАЛЬНЫХ ДАННЫХ В НАСТОЯЩЕМ СОГЛАШЕНИИ ПОНИМАЕТСЯ: СБОР ПЕРСОНАЛЬНЫХ ДАННЫХ, ИХ СИСТЕМАТИЗАЦИЯ, НАКОПЛЕНИЕ, ХРАНЕНИЕ, УНИЧТОЖЕНИЕ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.3. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ:</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.3.1. ВЕДЕНИЕ УЧЕТА ПОТРЕБИТЕЛЕЙ (КЛИЕНТОВ).</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.4. ПОЛЬЗОВАТЕЛЬ ПОДТВЕРЖДАЕТ, ЧТО ЕГО ПРИНЯТИЕ СОГЛАШЕНИЯ (ОТМЕТКА ЧЕКБОКСА &laquo;СОГЛАШАЮСЬ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ НА УСЛОВИЯХ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ&raquo;) ОЗНАЧАЕТ ПОЛНОЕ СОГЛАСИЕ ПОЛЬЗОВАТЕЛЯ СО ВСЕМИ ЕГО УСЛОВИЯМИ БЕЗ ИСКЛЮЧЕНИЯ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.5. ПОЛЬЗОВАТЕЛЬ ВПРАВЕ ИЗМЕНИТЬ ДАННЫЕ СВОЕЙ УЧЕТНОЙ ЗАПИСИ НА САЙТЕ ИЛИ ПОТРЕБОВАТЬ ЕЕ УДАЛЕНИЯ, ПОЗВОНИВ ПО ТЕЛЕФОНУ 87782529571.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.6. ПРИ ИЗМЕНЕНИИ НОМЕРА ТЕЛЕФОНА ПОЛЬЗОВАТЕЛЯ, УКАЗАННОГО ПРИ РЕГИСТРАЦИИ УЧЕТНОЙ ЗАПИСИ, КОМПАНИЯ ОСТАВЛЯЕТ ЗА СОБОЙ ПРАВО УДАЛИТЬ ВСЕ СОХРАНЕННЫЕ ДАННЫЕ, ПРИВЯЗАННЫЕ К ТАКОМУ НОМЕРУ ТЕЛЕФОНА, ВКЛЮЧАЯ, НО НЕ ОГРАНИЧИВАЯСЬ: АДРЕС, ИМЯ, ДАТУ РОЖДЕНИЯ.</span></span></p>



<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.8. КОМПАНИЯ ВПРАВЕ ПЕРЕДАТЬ ПЕРСОНАЛЬНЫЕ ДАННЫЕ ПОЛЬЗОВАТЕЛЯ ТРЕТЬИМ ЛИЦАМ, В ТОМ ЧИСЛЕ ПУТЕМ ТРАНСГРАНИЧНОЙ ПЕРЕДАЧИ, В СЛЕДУЮЩИХ СЛУЧАЯХ:</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.8.1. ДЛЯ ИСПОЛЬЗОВАНИЯ ПОЛЬЗОВАТЕЛЕМ САЙТА;</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.8.2. ДЛЯ ОКАЗАНИЯ УСЛУГ ПОЛЬЗОВАТЕЛЮ;</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.8.3. ПРИ ПРОДАЖЕ ИЛИ ИНОЙ ПЕРЕДАЧИ БИЗНЕСА КОМПАНИИ (ПОЛНОСТЬЮ ИЛИ В ЧАСТИ), ПРИ ЭТОМ К ПРИОБРЕТАТЕЛЮ ПЕРЕХОДЯТ ВСЕ ОБЯЗАТЕЛЬСТВА ПО СОБЛЮДЕНИЮ УСЛОВИЙ СОГЛАШЕНИЯ;</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.8.4. В ЦЕЛЯХ ОБЕСПЕЧЕНИЯ ВОЗМОЖНОСТИ ЗАЩИТЫ ПРАВ И ЗАКОННЫХ ИНТЕРЕСОВ ПОЛЬЗОВАТЕЛЕЙ, КОМПАНИИ ИЛИ ТРЕТЬИХ ЛИЦ;</span></span></p>





<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.9. КОМПАНИЯ ИМЕЕТ ПРАВО НАЗНАЧИТЬ ЛИЦО (ОПЕРАТОРА КОМПАНИИ), ОТВЕТСТВЕННОЕ ЗА ОРГАНИЗАЦИЮ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.10. КОМПАНИЯ ПРИНИМАЕТ НЕОБХОДИМЫЕ И ДОСТАТОЧНЫЕ ОРГАНИЗАЦИОННЫЕ И ТЕХНИЧЕСКИЕ МЕРЫ ДЛЯ ЗАЩИТЫ ПЕРСОНАЛЬНЫХ ДАННЫХ ОТ НЕПРАВОМЕРНОГО ИЛИ СЛУЧАЙНОГО ДОСТУПА, УНИЧТОЖЕНИЯ, ИЗМЕНЕНИЯ, БЛОКИРОВАНИЯ, КОПИРОВАНИЯ, РАСПРОСТРАНЕНИЯ, А ТАКЖЕ ОТ ИНЫХ НЕПРАВОМЕРНЫХ ДЕЙСТВИЙ С НЕЙ ТРЕТЬИХ ЛИЦ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.11. КОМПАНИЯ УСТАНАВЛИВАЕТ СЛЕДУЮЩИЕ МЕРЫ ПРАВОВОГО, ОРГАНИЗАЦИОННОГО ХАРАКТЕРА ДЛЯ ЗАЩИТЫ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ: НАЗНАЧЕНО ОТВЕТСТВЕННОЕ ЛИЦО ПО ОРГАНИЗАЦИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ; ИЗДАНЫ И ВНЕДРЕНЫ ДОКУМЕНТЫ, ОПРЕДЕЛЯЮЩИЕ ПОЛИТИКУ ОБЩЕСТВА В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ, ЛОКАЛЬНЫЕ АКТЫ, УСТАНАВЛИВАЮЩИЕ ПРОЦЕДУРЫ НАПРАВЛЕННЫЕ НА ПРЕДОТВРАЩЕНИЕ И ВЫЯВЛЕНИЕ НАРУШЕНИЙ ЗАКОНОДАТЕЛЬСТВА РК, УСТРАНЕНИЕ ПОСЛЕДСТВИЙ ТАКИХ НАРУШЕНИЙ; РАБОТНИКИ ОБЩЕСТВА НЕПОСРЕДСТВЕННО ОСУЩЕСТВЛЯЮЩИЕ ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ, ОЗНАКОМЛЕНЫ С ПОЛОЖЕНИЯМИ ЗАКОНОДАТЕЛЬСТВА РК &laquo;О ПЕРСОНАЛЬНЫХ ДАННЫХ&raquo;, В ТОМ ЧИСЛЕ ТРЕБОВАНИЯМИ К ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ, ДОКУМЕНТАМИ ОПРЕДЕЛЯЮЩИМИ ПОЛИТИКУ ОБЩЕСТВА В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ, ЛОКАЛЬНЫМИ АКТАМИ ПО ВОПРОСАМ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.12. КОМПАНИЯ ХРАНИТ ПЕРСОНАЛЬНУЮ ИНФОРМАЦИЮ ПОЛЬЗОВАТЕЛЕЙ, ОБЕСПЕЧИВАЯ ИХ КОНФИДЕНЦИАЛЬНОСТЬ И ЗАЩИТУ ОТ НЕПРАВОМЕРНОГО ИЛИ СЛУЧАЙНОГО ДОСТУПА К НИМ ТРЕТЬИХ ЛИЦ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.13. КОМПАНИЯ ОБЯЗУЕТСЯ ПРЕДОТВРАЩАТЬ ПОПЫТКИ НЕСАНКЦИОНИРОВАННОГО ДОСТУПА К ПЕРСОНАЛЬНЫМ ДАННЫМ ПОЛЬЗОВАТЕЛЕЙ, ПРЕДОСТАВЛЕННЫХ КОМПАНИИ; СВОЕВРЕМЕННО ОБНАРУЖИВАТЬ И ПРЕСЕКАТЬ ТАКИЕ ПОПЫТКИ.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">7.14. КОМПАНИЯ ВПРАВЕ ПРОИЗВЕСТИ БЛОКИРОВКУ, ИСКЛЮЧЕНИЕ, УДАЛЕНИЕ ИНФОРМАЦИИ, РАЗМЕЩЕННОЙ ПОЛЬЗОВАТЕЛЕМ, БЕЗ СОГЛАСИЯ ПОСЛЕДНЕГО, ЕСЛИ ТАКАЯ ИНФОРМАЦИЯ НЕ ОТВЕЧАЕТ ТРЕБОВАНИЯМ ДЕЙСТВУЮЩЕГО ЗАКОНОДАТЕЛЬСТВА РЕСПУБЛИКИ КАЗАХСТАН И ПОЛОЖЕНИЯМ СОГЛАШЕНИЯ.</span></span></p>



<p style="text-align: center;"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8. ТЕХНОЛОГИИ &laquo;COOKIE&raquo;, ИСПОЛЬЗУЕМЫЕ КОМПАНИЕЙ НА САЙТЕ</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8.1. КОМПАНИЯ ВПРАВЕ ИСПОЛЬЗОВАТЬ ТЕХНОЛОГИЮ &laquo;COOKIE&raquo; ДЛЯ СОХРАНЕНИЯ ИНФОРМАЦИИ ОБ IP-АДРЕСЕ ПОСЕТИТЕЛЕЙ И ПОЛЬЗОВАТЕЛЕЙ САЙТА. &laquo;COOKIE&raquo; НЕ ИСПОЛЬЗУЮТСЯ ДЛЯ СОХРАНЕНИЯ КОНФИДЕНЦИАЛЬНОЙ ИНФОРМАЦИИ О ПОСЕТИТЕЛЯХ И ПОЛЬЗОВАТЕЛЯХ САЙТА, И НЕ НАПРАВЛЕНЫ НА УСТАНОВЛЕНИЕ ЛИЧНОСТИ ПОСЕТИТЕЛЯ И ПОЛЬЗОВАТЕЛЕЙ САЙТА. ВСЯ ИНФОРМАЦИЯ, КОТОРАЯ СОБИРАЕТСЯ И АНАЛИЗИРУЕТСЯ, АНОНИМНА.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8.2. ИСПОЛЬЗОВАНИЕ ТЕХНОЛОГИИ &laquo;COOKIE&raquo; ПРЕДСТАВЛЯЕТ СОБОЙ РАЗМЕЩЕНИЕ НА САЙТЕ ОПРЕДЕЛЕННОГО НАБОРА СИМВОЛОВ (ЗНАКОВ), КОТОРЫЕ СОХРАНЯЮТСЯ НА КОМПЬЮТЕРЕ (ДАЛЕЕ &ndash; &laquo;УСТРОЙСТВО&raquo;, С КОТОРОГО БЫЛ ВЫПОЛНЕН ВХОД НА САЙТ) ПОСЕТИТЕЛЕЙ И ПОЛЬЗОВАТЕЛЕЙ САЙТА, ПРИ ДОСТУПЕ К ОПРЕДЕЛЕННЫМ МЕСТАМ САЙТА.</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8.3. ЦЕЛИ ПРИМЕНЕНИЯ КОМПАНИЕЙ ТЕХНОЛОГИИ &laquo;COOKIE&raquo;:</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8.3.1. АНАЛИТИЧЕСКАЯ ДЕЯТЕЛЬНОСТЬ ПО ИССЛЕДОВАНИЮ ПРЕДПОЧТЕНИЙ ПОСЕТИТЕЛЕЙ И ПОЛЬЗОВАТЕЛЕЙ САЙТА;</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8.3.2. СТАТИСТИКА ПО АКТИВНОСТИ ПОСЕТИТЕЛЕЙ И ПОЛЬЗОВАТЕЛЕЙ НА САЙТЕ;</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8.3.3. ПОВЫШЕНИЕ ПРОИЗВОДИТЕЛЬНОСТИ И ЭФФЕКТИВНОСТИ САЙТА;</span></span></p>



<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8.3.4. АНАЛИТИКА И ИСПРАВЛЕНИЕ ОШИБОК САЙТА, УЛУЧШЕНИЕ РАБОТЫ ВСЕХ РЕСУРСОВ САЙТА;</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8.3.5. БЕЗОПАСНОСТЬ И ЦЕЛОСТНОСТЬ РЕСУРСОВ САЙТА.</span></span></p>

</body>
</html>